NET CLK  LOC="P89"  | IOSTANDARD=LVTTL | PERIOD=31.25ns;               # CLK
NET JOY_SELECT   LOC="P22"  | IOSTANDARD=LVTTL;                                # B15

NET SWITCH(0)    LOC="P91"  | IOSTANDARD=LVTTL;                                # C0
NET SWITCH(1)    LOC="P92"  | IOSTANDARD=LVTTL;                                # C1
NET SWITCH(2)    LOC="P94"  | IOSTANDARD=LVTTL;                                # C2
NET SWITCH(3)    LOC="P95"  | IOSTANDARD=LVTTL;                                # C3
NET SWITCH(4)    LOC="P98"  | IOSTANDARD=LVTTL;                                # C4
NET SWITCH(5)    LOC="P2"   | IOSTANDARD=LVTTL;                                # C5
NET SWITCH(6)    LOC="P3"   | IOSTANDARD=LVTTL;                                # C6
NET SWITCH(7)    LOC="P4"   | IOSTANDARD=LVTTL;                                # C7
NET LED(0)       LOC="P5"   | IOSTANDARD=LVTTL;                                # C8
NET LED(1)       LOC="P9"   | IOSTANDARD=LVTTL;                                # C9
NET LED(2)       LOC="P10"  | IOSTANDARD=LVTTL;                                # C10
NET LED(3)       LOC="P11"  | IOSTANDARD=LVTTL;                                # C11
NET LED(4)       LOC="P12"  | IOSTANDARD=LVTTL;                                # C12
NET LED(5)       LOC="P15"  | IOSTANDARD=LVTTL;                                # C13
NET LED(6)       LOC="P16"  | IOSTANDARD=LVTTL;                                # C14
NET LED(7)       LOC="P17"  | IOSTANDARD=LVTTL;                                # C15
